
body{
    padding:0;
    margin:0;
}
.todo{
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,150,1) 100%);
    padding:20px;
    text-align:center;
    justify-content: center;
    align-items: center;
}
.items{
    text-align:center;
    justify-content: center;
    align-items: center;
}
.imga{
    background-image:url('bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}